#add-roast {
    margin-bottom: 20px;
}

body {
    background-image: url('./img/th.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.card {
    margin: 30px;
}

.header {
    text-align: center;
    background-color: #D2B48C;
}

#new-coffee {
    margin-top: -20px;
    margin-bottom: 20px;
}

#search-form {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
